// Container-devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container{
    max-width: $container-xl;
    margin: 0 auto;

    padding: 96px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;

    @include responsive(s){
        flex-direction: column;
        padding: 32px 18px;
    }
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-start-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.relative{
    position: relative;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-item-1{
    flex: 1 1 360px;
}

.flex-item-2{
    flex: 2 1 360px;
}

.flex-item-3{
    flex: 3 1 360px;
}

.flex-item-4{
    flex: 4 1 360px;
}

.flex-item-5{
    flex: 5 1 360px;
}

.flex-item-auto{
    flex: 2 1 auto;
}

.w-auto{
    width: auto;
}

.w-100{
    width: 100%;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

.hidden{
    overflow: hidden;
}

.list-item{
    display: flex;
    list-style: none;
    position: relative;
    padding: 8px 8px 8px 54px;
    margin-bottom: 48px;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: -8px;
        border: none;

        display: block;

        width: 30px;
        height: 30px;
    }
}

::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
    border: 5px solid $black-fundo;
}

::-webkit-scrollbar-thumb{
    background-color: $purple-normal;
    border-radius: 50px;
    border: 2px solid $purple-normal;
}

.formulario{
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 25px;
    background-color: transparent;
    border: 4px solid $purple-normal;
    margin: 0 auto;
    box-shadow: $sombra-card;

    @include responsive(s){
        width: 70%;
    }

    @include responsive(xs){
        width: 90%;
    }

}

.textfild{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.titulo{
    margin: 0 auto;
}

.input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: $cor-boxtext;
    color: $cor-label;
    font-size: 12pt;
    box-shadow: $sombra-boxtext;
    outline: none;
    margin-bottom: 13px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder{
        color: #f0ffff96;
    }

}

textarea{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: $cor-boxtext;
    color: $cor-label;
    resize: none;
    box-shadow: $sombra-boxtext;
    outline: none;
    margin-bottom: 13px;
    font-size: 12pt;
    font-family: "Source Sans Pro", sans-serif;

    &::placeholder{
        color: #f0ffff96;
    }

}

label{
    color: $cor-label;
    margin-bottom: 10px;
}

.btn-enviar{
    width: 100%;
    background-color: $purple;
    color: $cor-label;
    padding: 16px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-top: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s ease; 
    
    &:hover{
        box-shadow: $sombra-purple;
    }
}

.btn-enviar-2{
    width: 190px;
    background-color: $purple;
    color: $cor-label;
    padding: 16px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-top: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .4s ease; 
    
    &:hover{
        box-shadow: $sombra-purple;
    }
}

.star{
    width: 10px;
    height: 10px;
    background: white;
}

.hero{
    height: 90vh;

    @include responsive(s){
        height: auto;
    }
}

.bg-home{
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    z-index: -1;
}

.svg-bg-home{
    width: 150%;

    @include responsive(xl){
        width: 100%;
    }

    @include responsive(l){
        width: 100%;
    }
}

.svg-invite{
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}